/* font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    /* ------------------- */
    user-select: none;
    padding: 0;
    margin: 0;
    /*---------------------*/
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: black;
    /* -------------------- */
}

@media screen and (max-width: 2100px) and (min-width: 768px) {
    .header-blog {
        /* ---------------- */
        margin-top: 50px;
        margin-left: 500px;
        margin-right: 500px;
        margin-bottom: 10px;
        /* ---------------- */
        padding: 20px;
        outline-color: whitesmoke;
        outline-style: groove;
    }
    .title {
        /* --------------------- */
        text-align: center;
        /* ---------------------- */
    }
    .description {
        text-align: right;
        padding-bottom: 10px;
    }
    .blog-content {
        display: inline-flex;
        padding: 0px;
        margin-top: 50px;
    }
    .categories {
        /* ----------------------- */
        margin-left: 400px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        /* ---------------------- */
        outline-color: whitesmoke;
        outline-style: groove;
    }
    .picmonth {
        align-content: center;
        text-align: center;
        margin-left: 40px;
        padding-left: 10px;
        padding-right: 10px;
        
        outline-color: white;
        outline-style: dotted;
    }
    .sub-desc-1 {
        padding-top: 10px;
    }
    .option-1 {
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: 5px;
        text-align: left;
        list-style: inside;
    }
    .option-1:hover {
        background-color: white;
        color: black;
    }
    .feed {
        /* --------------------- */
        margin-left: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        /* --------------------  */
        outline-color: whitesmoke;
        outline-style: groove;
    }
    .option-2 {
        margin-top: 30px;
        margin-bottom: 5px;
        margin-left: 50px;
        margin-right: 10px;
        list-style: none;
    }
    .option-2:hover {
        background-color: white;
        color: black;
    }
    .updates {
        margin-top: 50px;
        margin-left: 500px;
        margin-right: 500px;
        margin-bottom: 10px;
        padding: 19px;

        outline-color: whitesmoke;
        outline-style: groove;
    }
}


@media screen and (max-width: 800px) and (min-width: 100px) {
     .header-blog {
        /* ---------------- */
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        /* ---------------- */
        padding: 1px;
    }
    .title {
        /* --------------------- */
        text-align: center;
        /* ---------------------- */
    }
    .description {
        text-align: right;
        padding-bottom: 5px;
    }
    .blog-content {
        display: block;
        padding: 5px;
        margin-top: 5px;
    }
    .categories {
        /* ----------------------- */
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        /* ---------------------- */
        outline-color: whitesmoke;
        outline-style: groove;
    }
    .picmonth {
        text-align: center;
        margin-top: 30px;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
        
        outline-color: white;
        outline-style: dotted;
    }
    .sub-desc-1 {
        padding-top: 10px;
        text-align: center;
    }
    .option-1 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        text-align: left;
        list-style: inside;
    }
    .option-1:hover {
        background-color: white;
        color: black;
    }
    .feed {
        /* --------------------- */
        margin-left: 10px;
        margin-right: 10px;

        margin-top: 50px;
        padding-left: 0px;
        /* --------------------  */
        outline-color: whitesmoke;
        outline-style: groove;
    }
    .option-2 {
        margin-top: 2px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 0px;
        list-style: none;
    }
    .option-2:hover {
        background-color: white;
        color: black;
    }
    .updates {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        padding: 10px;

        outline-color: whitesmoke;
        outline-style: groove;
    }   
}