/* font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    /* ------------------- */
    user-select: none;
    padding: 0;
    margin: 0;
    /*---------------------*/
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: black;
    /* -------------------- */
}


@media screen and (max-width: 2100px) and (min-width: 768px) {
    .header-blog {
        /* ---------------- */
        margin-top: 50px;
        margin-left: 500px;
        margin-right: 500px;
        margin-bottom: 10px;
        /* ---------------- */
        padding: 20px;
        outline-color: whitesmoke;
        outline-style: groove;
    }
    .title {
        /* --------------------- */
        text-align: center;
        /* ---------------------- */
    }
    .description {
        text-align: right;
        padding-bottom: 10px;
    }
    .blog-content {
        display: inline-flex;
        padding: 0px;
        margin-top: 50px;

    }
    .categories {
        /* ----------------------- */
        margin-left: 500px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        /* ---------------------- */
        outline-color: whitesmoke;
        outline-style: groove;
    }
    .sub-desc-1 {
        padding-top: 10px;
    }
    .option-1 {
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: 5px;
        text-align: left;
        list-style: inside;
    }
    .option-1:hover {
        background-color: white;
        color: black;
    }
    .post {
        /* --------------------- */
        margin-left: 20px;
        padding-bottom: 10px;
        padding-left: 20px;

        /* --------------------  */
        /* outline-color: whitesmoke;
        outline-style: groove; */
    }
    .content {
        padding-right: 20px;
        margin-right: 20px;        /* padding-top: 10px; */
        justify-content: left;
    }
}