/* font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    /* ------------------- */
    user-select: none;
    padding: 0;
    margin: 0;
    /*---------------------*/
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: black;
    /* -------------------- */
}

@media screen and (max-width: 2100px) and (min-width: 768px) {
    .header-blog {
        /* ---------------- */
        margin-top: 50px;
        margin-left: 500px;
        margin-right: 500px;
        margin-bottom: 10px;
        /* ---------------- */
        padding: 20px;
        outline-color: whitesmoke;
        outline-style: groove;
    }
    .title {
        /* --------------------- */
        text-align: center;
        /* ---------------------- */
    }
    .description {
        text-align: right;
        padding-bottom: 5px;
    }
   .post {
        text-align: left;
        margin-top: 100px;
        margin-left: 300px;
        margin-right: 300px;
   }
   .back-button {
      float: inline-end;
      margin-right: 100px;
      margin-bottom: 50px;
   }
   .citestyle {
      background-color: gray;
      color: black;
   }
   .list {
        padding: 10px;
        margin: 10px;
   }
}

@media screen and (max-width: 800px) and (min-width: 100px) {
    .header-blog {
        /* ---------------- */
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        /* ---------------- */
        padding: 1px;
    }
    .title {
        /* --------------------- */
        text-align: center;
        /* ---------------------- */
    }
    .description {
        text-align: right;
        padding-bottom: 5px;
    }
    .post {
        text-align: left;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
   }
   .back-button {
        float: inline-end;
        margin-right: 50px;
        margin-bottom: 10px;
   }
   .citestyle {
      background-color: gray;
      color: black;
   }
    .list {
        padding: 10px;
        margin: 10px;
   }
}