body {
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
}
li {
    margin-top: 2%;
    list-style: none;
}
a {
    text-decoration: none;
}
a.more {
    color: darkslategray;
}

h1 {
    color: black;
}