/* fonte */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* para todo o site (embora talvez eu ache que isso não deva ser tão seguro) */

body {
    background-color: black;
    user-select: none;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    color: white;
}


/* mobile */

@media screen and (max-width: 720px) and (min-width: 400px) {
    /* cabeçalho para site mobile*/
    .header-blog {
        padding-top: 1%;
        margin-top: 0.5%;
        text-align: center;
    }
    .title-h {
        user-select: center;
        text-align: auto;
    }
    .ico-page {
        user-select: none;
        display: none;
        float: right;
        margin-right: 1%;
        margin-bottom: 20;
    }
    .icon-alien {
        border-radius: 20%;
    }
    .title {
        text-align: center;
        margin: 2%;
    }
    .menu {
        text-align: center;
        margin: 1%;
        padding: 1%;
    }
    /* opções de seleção */
    .menu-opt {
        list-style: none;
    }
    /* links */
    .opt {
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 5%;
    }
    .opt:hover {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 5%;
    }
    .li-opt {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    /* fim do estilo do cabeçalho */
    /* estilo dos artigos mostrados no início da página */
    .recent-articles {
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .posts-list {
        list-style: none;
        justify-content: left;
        padding: 2%;
        margin: 2%;
    }
    .post {
        outline-style: outset;
        outline-color: white;
        margin-bottom: 4%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
        padding: 3%;
        border-radius: 5%;
        user-select: none;
    }
    /* ascii arts */
    .artleft {
        font-size: 2.5mm;
        float: center;
    }
    .artright {
        float: right;
        display: flex;
        font-size: unset;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    /* cabeçalho para site mobile (tablet)*/
    .header-blog {
        padding-top: 0.5%;
        margin-top: 0.1%;
        text-align: left;
    }
    .title-h {
        user-select: none;
        text-align: auto;
    }
    .ico-page {
        user-select: none;
        display: inline;
        float: inline-start;
        margin-right: 1%;
    }
    .icon-alien {
        border-radius: 20%;
    }
    .title {
        text-align: left;
        margin: 2%;
    }
    .menu {
        text-align: center;
        margin: 1%;
        padding: 1%;
    }
    /* opções de seleção */
    .menu-opt {
        list-style: none;
    }
    /* links */
    .opt {
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 5%;
    }
    .opt:hover {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 5%;
    }
    .li-opt {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    /* fim do estilo do cabeçalho */
    /* estilo dos artigos mostrados no início da página */
    .recent-articles {
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .posts-list {
        list-style: none;
        justify-content: left;
        padding: 1%;
        margin: 1%;
    }
    .post {
        outline-style: outset;
        outline-color: white;
        margin-bottom: 3%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
        padding: 2%;
        border-radius: 3%;
        user-select: none;
    }
    .artleft pre {
        display: none;
    }
    .artright pre {
        display: none;
    }
}


/* desktop */

@media screen and (max-width: 2100px) and (min-width: 768px) {
    /* cabeçalho para site desktop*/
    .header-blog {
        padding-top: 0;
        margin-top: 0;
        text-align: left;
    }
    .title-h {
        user-select: none;
        text-align: center;
    }
    .ico-page {
        user-select: none;
        display: inline;
        float: inline-start;
        margin-right: 1%;
    }
    .icon-alien {
        border-radius: 10%;
    }
    .title {
        text-align: left;
        margin: 1%;
    }
    .menu {
        text-align: center;
        margin: 0%;
        padding: 0%;
    }
    /* opções de seleção */
    .menu-opt {
        list-style: none;
    }
    /* links */
    .opt {
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 5%;
    }
    .opt:hover {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 5%;
    }
    .li-opt {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    /* fim do estilo do cabeçalho */
    /* estilo dos artigos mostrados no início da página */
    .recent-articles {
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .posts-list {
        list-style: none;
        justify-content: left;
        padding: 1%;
        margin: 0%;
    }
    .post {
        outline-style: outset;
        outline-color: white;
        margin-bottom: 2%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 2%;
        padding: 2%;
        border-radius: 2%;
        user-select: none;
    }
    .artleft {
        float: left;
        display: flex;
        font-size: 2.5mm;
    }
    .artright {
        float: right;
        display: flex;
        font-size: unset;
    }
}


/* botão dropdown */


/* .droplist {
    display: none;
    list-style: none;
}

.dropli-opt {
    padding: 0;
    margin-top: 10%;
}

.dropdown:hover .droplist {
    padding: 0;
    margin-top: 0;
    display: list-item;
    position: absolute;
    text-align: left;
}

.dropdown::selection {
    background-color: black;
    color: white;
} */


/* meu deus como eu odeio css */


/* trabalhar nisso depois */


/* .opt::selection {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5%;
} */