/* fonte */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* estilo padrão para todo site */

body {
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    color: white;
}


/* mobile */

@media screen and (max-width: 650px) and (min-width: 400px) {
    .header-blog {
        user-select: none;
        padding-top: 1%;
        margin-top: 0.5%;
        text-align: left;
    }
    .title-h {
        user-select: none;
        text-align: auto;
    }
    .ico-page {
        user-select: none;
        display: inline;
        float: inline-start;
        margin-right: 1%;
    }
    .icon-alien {
        border-radius: 20%;
    }
    .title {
        text-align: left;
        margin: 2%;
    }
    .menu {
        text-align: center;
        margin: 1%;
        padding: 1%;
    }
    .menu-opt {
        list-style: none;
    }
    .li-opt {
        display: inline;
        padding: 0;
        margin: 0;
    }
    /* fim do estilo do cabeçalho */
    /* links */
    .opt {
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 5%;
    }
    .opt:hover {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 5%;
    }
    .article-body {
        justify-content: left;
        padding: 2%;
        margin: 2%;
    }
    .recomendation {
        padding: 0;
        margin: 0;
    }
    .read-more {
        padding: 1%;
        margin: 1%;
    }
    .li-more-opt {
        padding: 1%;
        margin: 1%;
        list-style: none;
    }
}


/* tablet */

@media screen and (max-width: 992px) and (min-width: 768px) {
    .header-blog {
        user-select: none;
        padding-top: 0%;
        margin-top: 0%;
        text-align: left;
    }
    .title-h {
        user-select: none;
        text-align: auto;
    }
    .ico-page {
        user-select: none;
        display: inline;
        float: inline-start;
        margin-right: 1%;
    }
    .icon-alien {
        border-radius: 10%;
    }
    .title {
        text-align: left;
        margin: 2%;
    }
    .menu {
        text-align: center;
        margin: 1%;
        padding: 1%;
    }
    .menu-opt {
        list-style: none;
    }
    .li-opt {
        display: inline;
        padding: 0;
        margin: 0;
    }
    /* fim do estilo do cabeçalho */
    /* links */
    .opt {
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 5%;
    }
    .opt:hover {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 5%;
    }
    .article-body {
        justify-content: left;
        padding-right: 5%;
        padding-left: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .recomendation {
        padding: 0;
        margin: 0;
    }
    .read-more {
        padding-right: 5%;
        padding-left: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .li-more-opt {
        padding: 1%;
        margin: 1%;
        list-style: none;
    }
}


/* desktop */

@media screen and (max-width: 2100px) and (min-width: 768px) {
    .header-blog {
        user-select: none;
        padding-top: 0%;
        margin-top: 0%;
        text-align: left;
    }
    .title-h {
        user-select: none;
        text-align: auto;
    }
    .ico-page {
        user-select: none;
        display: inline;
        float: inline-start;
        margin-right: 1%;
    }
    .icon-alien {
        border-radius: 10%;
    }
    .title {
        text-align: left;
        margin: 2%;
    }
    .menu {
        text-align: center;
        margin: 1%;
        padding: 1%;
    }
    .menu-opt {
        list-style: none;
    }
    .li-opt {
        display: inline;
        padding: 0;
        margin: 0;
    }
    /* fim do estilo do cabeçalho */
    /* links */
    .opt {
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 5%;
    }
    .opt:hover {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 5%;
    }
    .article-body {
        justify-content: left;
        padding-right: 6%;
        padding-left: 6%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .recomendation {
        margin: 0;
        padding: 0;
    }
    .read-more {
        padding-right: 6%;
        padding-left: 6%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .li-more-opt {
        padding: 1%;
        margin: 1%;
        list-style: none;
    }
}


/* botão dropdown */


/* .droplist {
    display: none;
    list-style: none;
}
.dropli-opt {
    padding: 0;
    margin-top: 10%;
}
.dropdown:hover .droplist {
    padding: 0;
    margin-top: 0;
    display: list-item;
    position: absolute;
}
.dropdown::selection {
    background-color: black;
    color: white;
} */


/* para os artigos */