
/* font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


* {
    padding: 0;
    margin: 0;

    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: black;
}

.header-blog {
    /* ---------------- */
    margin: 10px;
    /* ---------------- */
    padding: 50px;
    outline-color: whitesmoke;
    outline-style: groove;
}

.title {
    /* --------------------- */
    text-align: center;
    /* ---------------------- */
}

.back-button {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

/* gallery section */
.galeria-section-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-top: 10px;

    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;

    outline-color: whitesmoke;
    outline-style: groove;
}
.bar-buttons {
    position: relative;
    width: 100%;
    outline-color: whitesmoke;
    outline-style: groove;

    display: flex;
    justify-content: flex-end; 
}

.btn-0 {
    padding: 4px;
}
.btn-1 {
    padding: 4px;
}
.btn-2 {
    padding: 4px;
}

.btn-0:hover {
    background-color: white;
    color: black;
}
.btn-1:hover {
    background-color: white;
    color: black;
}
.btn-2:hover {
    background-color: red;
    color: white;
}

@media only screen and (max-width: 600px) {
    .header-blog {
	display: none;
        /* ---------------- */
        margin: 10px;
        /* ---------------- */
        padding: 50px;
        outline-color: whitesmoke;
        outline-style: none;
    }

    .title {
        /* --------------------- */
        text-align: center;
        /* ---------------------- */
    }

    .back-button {
        position: absolute;
        right: 1px;
        bottom: 1px;
    }

    /* gallery section */
    .galeria-section-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        text-align: center;

        margin-top: 10px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 400px;

        outline-color: whitesmoke;
        outline-style: groove;
    }

    .bar-buttons {
        position: relative;
        width: 100%;
        outline-color: whitesmoke;
        outline-style: groove;

        display: flex;
        justify-content: flex-end;
    }

    .btn-0 {
        padding: 2px;
    }

    .btn-1 {
        padding: 2px;
    }

    .btn-2 {
        padding: 2px;
    }

    .btn-0:hover {
        background-color: white;
        color: black;
    }

    .btn-1:hover {
        background-color: white;
        color: black;
    }

    .btn-2:hover {
        background-color: red;
        color: white;
    }
}
